<section class="home d-flex flex-column justify-content-center"  >

  <div class="container">

    <div class="row mb-3">
      <div class="col">
        <h1 class="home-title">HUMAIN ONE</h1>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h3 class="home-subtitle">
          THE OPERATING SYSTEM FOR ENTERPRISE INTELLIGENCE
        </h3>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col col-lg-8">
        <p class="home-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Neque excepturi id dicta dolorem vero ad assumenda quasi
          molestias ullam, recusandae nemo suscipit.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex gap-2">
        <button class="btn connect-btn">
          DISCOVER HUMAIN ONE
        </button>
       <button class="btn watch-btn">
          WATCH Now
        </button>

      </div>
    </div>

  </div>

</section>
