<section class="home d-flex flex-column justify-content-center">
  <div class="container text-center text-lg-start">

    <h1 class="home-title">HUMAIN ONE</h1>
    <h3 class="home-subtitle">
      THE OPERATING SYSTEM FOR ENTERPRISE INTELLIGENCE
    </h3>
    <p class="home-text col-lg-8 mx-auto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Neque excepturi id dicta dolorem vero ad assumenda quasi
      molestias ullam, recusandae nemo suscipit.
    </p>

    <div class="d-flex gap-2 justify-content-center justify-content-lg-start">
      <button class="btn connect-btn">DISCOVER HUMAIN ONE</button>
      <button class="btn watch-btn">WATCH NOW</button>
    </div>
  </div>
</section>

<div class="caroussel">
  <div class="containing">
    <div>
      <div class="content">
        <h2>Jane Doe</h2>
        <span>UI & UX Designer</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Alex Smith</h2>
        <span>CEO Expert</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Emily New</h2>
        <span>Web Designer</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Lisa Boley</h2>
        <span>Marketing Coordinator</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Emily New</h2>
        <span>Web Designer</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Lisa Boley</h2>
        <span>Marketing Coordinator</span>
      </div>
    </div>
  <div>
      <div class="content">
        <h2>Emily New</h2>
        <span>Web Designer</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Lisa Boley</h2>
        <span>Marketing Coordinator</span>
      </div>
    </div>

  </div>
</div>


<section class="ai-stack-section d-flex flex-column justify-content-center">
  <div class="container text-center">

    <!-- Small heading -->
    <p class="eyebrow">BUILT FOR THE WORLD AHEAD</p>

    <!-- Main title -->
    <h1 class="main-title">
      Full AI Stack.<br />
      Endless Possibilities.
    </h1>

    <!-- Description -->
    <p class="description mx-auto">
      We build the entire AI stack: data centers, cloud, models, and applications.
      So you don’t have to piece things together. Out of the box, end to end, with
      HUMAIN as your single partner. Our belief is simple: AI isn’t an add-on, it’s
      the foundation of the future.
    </p>

    <!-- Partners -->
    <p class="partners-title">OUR STRATEGIC ALLIES</p>

    <div class="partners d-flex flex-wrap justify-content-center align-items-center gap-5">
      <span>SDAIA</span>
      <span>Qualcomm</span>
      <span>NVIDIA</span>
      <span>Luma</span>
      <span>Cisco</span>
      <span>AWS</span>
      <span>AMD</span>
      <span>groq</span>
    </div>

  </div>
</section>
