<nav class=" navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand fw-bold" href="#">HUMAIN</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Products
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Product 1</a></li>
          <li><a class="dropdown-item" href="#">Product 2</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Solutions
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Solution 1</a></li>
          <li><a class="dropdown-item" href="#">Solution 2</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Marketplace</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Company
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">About</a></li>
          <li><a class="dropdown-item" href="#">Careers</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item me-3">
        <a class="nav-link" href="#">EN | عربي</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success connect-btn">Connect Now</button>
      </li>
    </ul>
  </div>
</nav>
