<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand fw-bold" href="#">HUMAIN</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">

      <!-- Products -->
      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu mega-menu p-3 w-50  ">
          <div class="d-flex justify-content-between px-3">
            <div>
              <h6 class="dropdown-header">Category 1</h6>
              <a class="dropdown-item" routerLink="/products" routerLinkActive="active">
                Product 1A
              </a>
              <a class="dropdown-item" routerLink="/products/p2" routerLinkActive="active">Product 1B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Category 2</h6>
              <a class="dropdown-item" href="#">Product 2A</a>
              <a class="dropdown-item" href="#">Product 2B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Category 3</h6>
              <a class="dropdown-item" href="#">Product 3A</a>
              <a class="dropdown-item" href="#">Product 3B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Category 4</h6>
              <a class="dropdown-item" href="#">Product 4A</a>
              <a class="dropdown-item" href="#">Product 4B</a>
            </div>
          </div>
        </div>
      </li>

      <!-- Solutions -->
      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Solutions
        </a>
        <div class="dropdown-menu mega-menu p-3 w-50">
          <div class="d-flex justify-content-between px-3">
            <div>
              <h6 class="dropdown-header">Solution Cat 1</h6>
              <a class="dropdown-item" href="#">Solution 1A</a>
              <a class="dropdown-item" href="#">Solution 1B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Solution Cat 2</h6>
              <a class="dropdown-item" href="#">Solution 2A</a>
              <a class="dropdown-item" href="#">Solution 2B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Solution Cat 3</h6>
              <a class="dropdown-item" href="#">Solution 3A</a>
              <a class="dropdown-item" href="#">Solution 3B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Solution Cat 4</h6>
              <a class="dropdown-item" href="#">Solution 4A</a>
              <a class="dropdown-item" href="#">Solution 4B</a>
            </div>
          </div>
        </div>
      </li>

      <!-- Marketplace -->
      <li class="nav-item">
        <a class="nav-link" href="#">Marketplace</a>
      </li>

      <!-- Company -->
      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Company
        </a>
        <div class="dropdown-menu mega-menu p-3 w-50">
          <div class="d-flex justify-content-between px-3">
            <div>
              <h6 class="dropdown-header">About</h6>
              <a class="dropdown-item" href="#">About 1</a>
              <a class="dropdown-item" href="#">About 2</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Careers</h6>
              <a class="dropdown-item" href="#">Career 1</a>
              <a class="dropdown-item" href="#">Career 2</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Category 3</h6>
              <a class="dropdown-item" href="#">Company 3A</a>
              <a class="dropdown-item" href="#">Company 3B</a>
            </div>
            <div class="vr"></div>
            <div>
              <h6 class="dropdown-header">Category 4</h6>
              <a class="dropdown-item" href="#">Company 4A</a>
              <a class="dropdown-item" href="#">Company 4B</a>
            </div>
          </div>
        </div>
      </li>

      <!-- Media -->
      <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item me-3">
        <a class="nav-link" href="#">EN | عربي</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success connect-btn">Connect Now</button>
      </li>
    </ul>
  </div>
</nav>
